In [29]:
import pandas as pd
import numpy as np

In [30]:
df_v = pd.read_csv('../../data/processed/v.csv')
df_v.drop(columns=  ['Unnamed: 0', 'categoria_tipo', 'empresa_modalidade', 'veiculo_validador', 'passageiro_evento', 'movimentos_data_arq',
                    'passageiro_integracao_bum', 'passageiro_valor_subsidio', 'passageiro_sigben', 'passageiro_valor_repasse_metro'], inplace=True)

colunas_date = ['movimento_diario_data_mov', 'linha_hora_abertura', 'passageiro_data_hora',
                'linha_hora_fechamento', 'viagem_data_hora_abertura', 'viagem_data_hora_fechamento']
for i in colunas_date:
    df_v[i]= pd.to_datetime(df_v[i], infer_datetime_format=True)

df_v.head()

,movimento_diario_data_mov,empresa_codigo,veiculo_numero,linha_numero,linha_jornada,linha_num_operador,linha_tabela,linha_hora_abertura,linha_hora_fechamento,viagem_data_hora_abertura,...,viagem_catraca_inicio,viagem_catraca_final,viagem_sentido,viagem_ponto_abertura,viagem_ponto_fechamento,passageiro_data_hora,passageiro_integracao,passageiro_valor_pago,passageiro_tipo,passageiro_matricula
0,2021-08-26,42,42717,633,1,196769,1,2021-08-26 05:14:28,2021-08-26 14:34:22,2021-08-26 05:35:54,...,67634,67682,0,200,127,2021-08-26 05:37:51,0,3.6,4,7308696
1,2021-08-26,42,42717,633,1,196769,1,2021-08-26 05:14:28,2021-08-26 14:34:22,2021-08-26 05:35:54,...,67634,67682,0,200,127,2021-08-26 05:40:11,0,3.6,4,6423497
2,2021-08-26,42,42717,633,1,196769,1,2021-08-26 05:14:28,2021-08-26 14:34:22,2021-08-26 05:35:54,...,67634,67682,0,200,127,2021-08-26 05:40:16,0,3.6,12,5063339
3,2021-08-26,42,42717,633,1,196769,1,2021-08-26 05:14:28,2021-08-26 14:34:22,2021-08-26 05:35:54,...,67634,67682,0,200,127,2021-08-26 05:41:06,0,3.6,4,4792159
4,2021-08-26,42,42717,633,1,196769,1,2021-08-26 05:14:28,2021-08-26 14:34:22,2021-08-26 05:35:54,...,67634,67682,0,200,127,2021-08-26 05:42:21,0,3.6,4,3125993

In [31]:
df_v = df_v[(df_v.movimento_diario_data_mov >= pd.to_datetime('2021-09-01')) & (df_v.movimento_diario_data_mov <= pd.to_datetime('2021-09-07'))]
df_v.shape

(3005712, 21)

In [32]:
df_gr = pd.read_csv('../../data/processed/gr.csv')
df_gr.drop(columns=  ['Unnamed: 0', 'movimento_origem_rastreamento', ], inplace=True)

colunas_date = ['movimento_data_movimento', 'ponto_data_hora', ]
for i in colunas_date:
    df_gr[i]= pd.to_datetime(df_gr[i], infer_datetime_format=True)

df_gr.head()

a:\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,movimento_data_movimento,empresa_codigo,veiculo_numero,ponto_data_hora,ponto_tipo,ponto_codigo
0,2021-09-01,42,42518,2021-09-01 00:00:02,E,200
1,2021-09-01,42,42518,2021-09-01 05:09:29,S,200
2,2021-09-01,42,42518,2021-09-01 05:18:01,E,925
3,2021-09-01,42,42518,2021-09-01 05:19:00,S,925
4,2021-09-01,42,42518,2021-09-01 05:18:51,E,818

In [33]:
df_gr.shape

(2514796, 6)

In [37]:
df_v[(df_v.veiculo_numero == 42518) & (df_v.movimento_diario_data_mov >= pd.to_datetime('2021-09-01'))].head()

,movimento_diario_data_mov,empresa_codigo,veiculo_numero,linha_numero,linha_jornada,linha_num_operador,linha_tabela,linha_hora_abertura,linha_hora_fechamento,viagem_data_hora_abertura,...,viagem_catraca_inicio,viagem_catraca_final,viagem_sentido,viagem_ponto_abertura,viagem_ponto_fechamento,passageiro_data_hora,passageiro_integracao,passageiro_valor_pago,passageiro_tipo,passageiro_matricula
1148307,2021-09-01,42,42518,80,1,196911,6,2021-09-01 04:45:13,2021-09-01 14:55:02,2021-09-01 05:37:15,...,35137,35152,1,22,44,2021-09-01 05:45:56,1,0.0,4,7317448
1148308,2021-09-01,42,42518,80,1,196911,6,2021-09-01 04:45:13,2021-09-01 14:55:02,2021-09-01 05:37:15,...,35137,35152,1,22,44,2021-09-01 05:52:21,0,3.6,0,0
1148309,2021-09-01,42,42518,80,1,196911,6,2021-09-01 04:45:13,2021-09-01 14:55:02,2021-09-01 05:37:15,...,35137,35152,1,22,44,2021-09-01 05:52:34,1,1.6,38,6755925
1148310,2021-09-01,42,42518,80,1,196911,6,2021-09-01 04:45:13,2021-09-01 14:55:02,2021-09-01 05:37:15,...,35137,35152,1,22,44,2021-09-01 05:55:33,0,3.6,12,7685132
1148311,2021-09-01,42,42518,80,1,196911,6,2021-09-01 04:45:13,2021-09-01 14:55:02,2021-09-01 05:37:15,...,35137,35152,1,22,44,2021-09-01 05:58:40,0,5.5,38,7158157